* {
    margin: 0;
    padding: 0;
}



.main{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
}



.main img{
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: 0;
}


.main div{
    display: flex;
    gap: 1rem;
    z-index: 2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main li{
    font-size: 1.7rem;
}

.main h1{
    font-size: 5rem;
}


.main a{
    text-decoration: none;
    color: white;
}


.voltar{
    text-decoration: none;
    color: white;
    padding: 0.6rem 1.2rem ;
    border-radius: 1rem;
    position: relative;
    z-index: 3;
    font-size: 1.7rem;
    background-color: blue;
    margin-top: 2rem;
}


